<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://file.jb-apps.me/ipa/watsi.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.emad1saleh.watsi</string>
                <key>bundle-version</key>
                <string>2222</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string> مجاناً واتسي عماد شهادة 1 من
😍متجر عماد😍
emad1saleh.com
تابعنا على برامج التواصل:
@emad1saleh@
برامج بلس للايفون مجاناً،وشروحات تقنية مهمة، قناتنا في اليوتيوب (متجر عماد)</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
